*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1{
    width: 40% ;
    /*background-color: aliceblue;
    */display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10vh auto;
    box-shadow: 8px 5px 9px 1px gainsboro;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.result{
    color: aliceblue;
    width: 50%;
    text-align: center;
    background-image:linear-gradient(to bottom ,rgb(104 67 255),rgb(53 41 238)) ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 1.5rem;
    margin: auto;
}
.result h6{
    line-height: 3rem;
    color: rgb(230, 230, 230);
}
.result p{
    color: rgb(216, 216, 216);
    font-size: 0.9rem;
}
.result h3{
    line-height: 3rem;
}
.circle{
    margin: auto;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image:linear-gradient( to top,rgb(104 67 255),
        rgb(53 41 238)) ;
        /* line-height: 8rem; */
}
.circle h2{
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 3rem;
    line-height: 1rem;
}

.circle span{
    display: inline-block;
    font-size: 0.7rem;
    color: rgb(188, 188, 188);
}
.summary{
    width: 50%;
    margin: auto;
    font-size: 0.8rem;
    font-weight: 600;
    /* background-color: aliceblue; */
    padding: 20px;
}
.summary h2{
    font-size: 1.1rem;
}
.summary .summary-info{
    padding: 10px;
    margin: 15px 0px;
    border-radius: 10px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    display: flex;
    justify-content: space-between;
}
.summary .red{
    background-color: rgb(255 246 245);
    color: rgb(226 97 102);
}
.summary .orange {
    background-color: rgb(255 251 242);
    color: rgb(246 179 54);
}
.summary .green {
    background-color: rgb(242 251 250);
    color: rgb(37 156 124);
}
.summary .blue {
    background-color: rgb(243 243 253);
    color: rgb(28 37 141);
}
.degree{
    color: black;
    font-weight: 700;
}
.hundred{
    color: rgb(158, 158, 158);
    font-weight: 700;
}
.summary .btn{
 background-color: rgb(48 59 89);
 color: white;
 width: 90%;
 text-align: center;
 border-radius: 20px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 -ms-border-radius: 20px;
 -o-border-radius: 20px;
 font-weight: 600;
 font-size: 0.8rem;
 padding: 10px;
 transition: 1s;
 -webkit-transition: 1s;
 -moz-transition: 1s;
 -ms-transition: 1s;
 -o-transition: 1s;
}

.summary .btn:hover{   
    color: white !important;
    background-image: linear-gradient(to bottom, rgb(104 67 255), rgb(53 41 238));

}